.mastheader {
	background: #fff;

	@include until($small-desktop){
	  	&.is-active-mb {
	  		position: absolute;
	  		top:0;
	  		left:0; right:0;
	  		z-index: 100;
	  		.main-header-area {
	  			float: none;

	  			.menu {
	  				display:block;

	  				.menu-item {
	  					display:block;
	  					padding:0;
	  					border-bottom: 1px dotted rgba(29, 20, 20, 0.25);
	  					&:before {
  							display:none;
  						}

	  					a {
	  						padding: 14px 20px 15px 0;
	  					}
	  				}
	  			}
	  		}

	  		.right-block {
	  			display: block;
	  			float: none;
	  			margin-top: 40px;
	  		}
	  		.slider {
	  			display:none;
	  		}
	  	}
	}

	.top-section-inner {
		@extend %clear;
		.icons {
			float: right;
			padding: 5px 0;
		}
	}
	.masthead-inner {
		@extend %clear;

		@include until($small-desktop){
		  	padding: 20px 20px 30px;
		}

		.mobile-menu {
		  	position: relative;
		  	width: 35px;
    		height: 28px;
		  	display: block;
		  	float: right;

		  @include at-least($small-desktop){
		  	display:none;
		  }
		}
		.mobile-menu-inner {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	top: 50%;
		  	right: 0px;
		  	opacity: 1;
		}
		.mobile-menu-inner::before {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	top: 11px;
		  	content: "";
		  	display: block;
		}
		.mobile-menu-inner::after {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	bottom: 11px;
		  	content: "";
		  	display: block;
		}
		.mobile-menu-inner::after, .mobile-menu-inner::before, .mobile-menu-inner {
		  	transition: all .3s ease-in-out;
		  	-webkit-transition: all .3s ease-in-out;
		}
		.mobile-menu.is-active .mobile-menu-inner::after{
		  	transform: rotate(-45deg);
		  	-webkit-transform: rotate(-45deg);
		  	bottom: 0px;
		}
		.mobile-menu.is-active .mobile-menu-inner::before{
		   transform: rotate(45deg);
		   -webkit-transform: rotate(45deg);
		  	top: 0px;
		}
		.mobile-menu.is-active .mobile-menu-inner{
		 background: rgba(111,111,111,.0);
		}
		/* useless css */
		.mobile-menu {
		  margin-left:auto;
		  margin-right: auto;

		  &.mobile-menu {
		  		position: absolute;
    			top: 78px;
    			right: 20px;
		  }
		}
	}
	.main-header-area {
		@extend %clear;
		.logo-link {
			float: left;
		}

		.logo-wrapper {
			display: inline-block;
			vertical-align: middle;
			font-size: inherit;
		}
		.menu-main-menu-container {
			margin-left: 40px;
			position: relative;
			z-index: 2;
			float: left;
			@include until($small-desktop){
			  	display:none;
			  	margin: 20px 0 0 0;
			  }
		}

		.search-button {
			text-decoration: none;
			color: $brand-color-dark;
			float: right;
    		margin: 24px 0 0 0;
    		font-size: 23px;
    		line-height: 1;
		}

	}

	.featured-section {
		background: #000;
		color: #fff;
		.outer {
			@extend %clear;
			padding: 20px 0;
			.text-body {
				float: left;
				width: 70%;
				@include until($tablet){
					width: auto;
    				float: none;
    				text-align: center;
				}
			}

			.helper {
				float: right;
				width: 28%;
				@include until($tablet){
					float: none;
    				width: auto;
    				text-align: center;
    				margin-top: 10px;
				}

				.helper-button {
					background: #CE1919;
    				padding: 2px 10px;
    				text-decoration: none;
    				color: #fff;
				}
			}
		}
	}
}

@keyframes hvr-buzz-out {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    transform: translateX(1px) rotate(0);
  }

  100% {
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}