.item {
	font-size: 14px;
	background: #fff;
    margin-bottom: 60px;
    text-align: center;

    @include until($small-desktop){
        padding: 20px 0;
    }
	
	.item-title {
		transition: color 0.2s ease-out;
		&:hover {
			color: #afd137;
		}
		&:after {
			content: '';
			width: 25px;
			height: 1px;
			background: $brand-color;
			display: block;
			margin: 9px auto 0 auto;
		}
		
		a {
			display: block;
			text-align: center;
			text-decoration: none;
		}
	}

	.item-image-outer {
		display: block;
		overflow: hidden;
	     margin-bottom: 5px;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			display:block;
			max-width: 100%;
			transition: transform 0.2s ease-out;
			margin: 0;
		}
	}

    .item-excerpt {
        margin: 25px 0;
    }

    // .item-categories {
    //     .item-categories-outer {
    //         margin:0;
    //         padding:0;
    //         list-style-type: none;
    //         text-align: left;

    //         .item-category {
    //             display: inline-block;
    //             a {
    //                 color: #9C9C9C;
    //                 text-decoration: none;
    //                 font-size: 11px;
    //                 letter-spacing: 1px;
    //                 text-transform: uppercase;

    //                 &:hover {
    //                     text-decoration: underline;
    //                 }
    //             }
    //         }
    //     }
    // }
}