.sidebar-right {
	.main-content {
		float: left;
	}
	.sidebar {
		float: right;
		padding-left: 60px;
	}
}

.sidebar-left {
	.main-content {
		float: right;
	}
	.sidebar {
		float: left;
		padding-right: 60px;
	}
}

.full-width {
	.main-content {
		width: auto;
	}
}