.sidebar {
    width: 33.33%;
    background: #fff;
    font-size: $font-size-alt;
    
    @include until($small-desktop){
		float: none;
    	width: auto;
    	margin: 25px 0 0;
    	padding: 20px 0;
	}

    ul {
    	list-style-type: none;
    	padding:0;
    	margin:0;
    }

    .title {
    	margin: 35px 0;
    	position: relative;

    	&:first-child {
    		margin-top:0;
    	}

    	&:after{
   			content: '';
    		position: absolute;
    		left:0;
    		bottom: -10px;
    		height: 1px;
    		width: 60px;
    		background: $brand-color;
    	}
    }
}