@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sansregular') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?91254581');
  src: url('../fonts/fontello.eot?91254581#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?91254581') format('woff2'),
       url('../fonts/fontello.woff?91254581') format('woff'),
       url('../fonts/fontello.ttf?91254581') format('truetype'),
       url('../fonts/fontello.svg?91254581#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

