.mastfooter {
	background: #464545;
	overflow:hidden;
	color: #fff;
	margin-top: 40px;
	font-size: $font-size-alt;
	
	a {
		color: #fff;
	}

	ul {
		padding: 0;
		margin:0;
		list-style-type: none;
	}

	.title {
		color: #fff;
		margin-bottom: 30px;
		position:relative;

		&:after{
   			content: '';
    		position: absolute;
    		left:0;
    		bottom: -10px;
    		height: 1px;
    		width: 60px;
    		background: $brand-color;
    	}
	}
	.grid {
		.grid-item {
			padding: 20px;
			
			@include until($small-desktop){
				padding-left: 0;
			}
			   
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
			}
		}
	}
	

	.recent-posts {
		.recent-post  {
			@extend %clear;
			margin-bottom: 10px;
			.inner-block {
				display: block;
				text-decoration: none;

				.featured-image {
					float: left;
				}

				.body-text{
					float: right;
					width: calc(100% - 60px);
	    			padding-left: 5px;
				}
			}
		}
	}

	.tags-wrapper {
		margin-left: -5px;
		.tag {
			text-decoration:none;
    		display: inline-block;
    		background: #afd137;
    		color: #fff;
    		border-radius: 3px;
    		line-height: 1;
    		margin: 5px;
    		padding: 6px 11px 6px 7px;
    		font-size: 16px;
    		font-family: $font-family-base;
    		transition: background-color 0.3s ease-out;

    		&:hover {
    			background: #000;
    		}

    		&:before {
    			font: normal normal normal 14px / 1 FontAwesome;
    			margin-right: 5px;
    		}
		}
	}
	.footer-bottom {
		background: #383737;
		.c {
			@extend %clear;
			
			.menu {
				margin-top: 3px;
				float: left;
				.menu-item {
					margin-right: 14px;
					padding-left:0;
					a {
						color: #fff;
						font-size: 12px;
						display: inline-block;
						padding-left: 0;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.copyright {
				float: right;
				padding: 6px 0;
				font-size: 12px;
				p {
					margin:0;
				}
			}
		}
		
	}

	.scroll-to-top {
		position: fixed;
    	display: none;
    	padding: 5px 10px;
    	right: 30px;
    	bottom: 20px;
    	background: rgba(0,0,0,0.2);
    	color: #fff;
	}
}