.sidebar {
	float: right;
    width: 320px;
    padding: 20px;
    margin-left: 20px;
    background: #fff;
    font-size: $font-size-alt;

    @include until($small-desktop){
		float: none;
    	width: 100%;
    	display: block;
    	padding: 20px;
    	margin: 25px 0 0;
	}

    ul {
    	list-style-type: none;
    	padding:0;
    	margin:0;
    }

    .title {
    	margin: 35px 0;
    	position: relative;

    	&:first-child {
    		margin-top:0;
    	}

    	&:after{
   			content: '';
    		position: absolute;
    		left:0;
    		bottom: -10px;
    		height: 1px;
    		width: 60px;
    		background: $brand-color;
    	}
    }
	
	.popular-posts {
		.sinle-popular-post {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}

			.post-title {
				display: inline-block;
				vertical-align: top;
				color: $text-color;
				padding-left: 10px;
    			width: 70%;
			}
		}
	}

	.popular-categories {
		.single-popular-category {
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
			a {
				text-decoration: none;
    			display: block;
				@extend %clear;
    			.count {
    				float:right;
    			}
			}
		}
	}

	.recent-comments {
		.single-comment {
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
			.text-body {
				width: 70%;
			}
		}
	}
	
	// Commont styles
	.featured-image, .text-body {
		display: inline-block;
		vertical-align: top;
	}
	.featured-image{
		margin: 6px 0 0 0;
	}
	.text-body {
		width: 72%;
		padding-left: 10px;
		color: $text-color;
	}

	.inner-wrapper {
		display: block;
	}
}